.header {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background: #16222A;
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);
    background: radial-gradient(to bottom right, rgba(25, 27, 32, 1) 40%, #16222A 60%);
}

.mainContent {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -110px;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mainContent>div>h1 {
    font-size: clamp(110px, 20vw, 220px);
    text-shadow: 0px 0px 20px rgba(250, 250, 250, 0.55);
    letter-spacing: 1px;
}

.mainContent h5 {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 300;
    color: white;
}

.mainContent .left {
    margin-left: clamp(30px, 9vh, 100px);
}

.mainContent .right {
    text-align: right;
    margin-right: clamp(30px, 9vh, 80px);
}

.socialIcons {
    position: absolute;
    bottom: 60px;
    left : clamp(0px, 5vw, 120px)
}

.socialIcon {
    margin-bottom: 20px;
    cursor: pointer;
}