@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
body {
    box-sizing: border-box;
    color: white;
}

body>*,
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


/* global style */

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.flex {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}


/* font-family: 'Rammetto One', cursive; */